<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blink Out</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/application.css">
  </head>
  <body>
    <header>
      <h1>Blink Out</h1>
    </header>
    <main>

    <%= yield %>

    </main>
    <footer>
      <p>Blink Out(<a href="https://github.com/QuasariNova/lights_out_website">Github</a>) by Christopher Perkins</p>
      <p>Made in between <a href="www.launchschool.com">Launch School</a> courses.</p>
    </footer>
  </body>
</html>
