body {
  background-image: linear-gradient(to bottom, #130742, #201c30);
  background-repeat: no-repeat;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0577b4;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

a {
  text-decoration: none;
  color: #00a6ff;
}

main, footer, header {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 90vh;
}

header, footer {
  padding: 25px 0;
}

header {
  background-image: linear-gradient(to bottom, #130742, #170758);
  background-repeat: no-repeat;
}

main {
  background-color: #170758;
}

footer {
  background-image: linear-gradient(to bottom, #170758, #201c30);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.board {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.board  form {
  justify-self: stretch;
  align-self: stretch;
}

.board figcaption {
  grid-column: 1 / 7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px;
}

.board button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #144928;
  transition: background-color 250ms ease-out 100ms;
}

.board button:hover {
  background-color: #1e8645;
}

.board button.on {
  background-color: #0fc831
}

.board button.on:hover {
  background-color: #12ed3a;
}

.win {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 36px;
}
